.X1 {
            margin: 200px;
            background-color: black;
            height: 200px;
            transform: rotate(-45deg);
            width: 20px;
            position: relative;
}
.X1:before,
.X1:after {
  content: "";
  background-color: black;
  height: 20px;
  position: absolute;
  width: 200px;
  top: 85px;
  left: -95px;
}
